.error{
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 30px, 0;
}

.error h1{
    font-size:36px;
}

.error p{
    font-size: 22px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
  padding: 8px 12px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}
