<body>
  <div class="add-button-container">
    <button class="add-button" (click)="addNewPhoto()">Add Photo</button>
  </div>
  <div class="button-container">
    <button (click)="setSortBy('id')">ID</button>
    <button (click)="setSortBy('albumId')">Album ID</button>
    <button (click)="setSortBy('title')">Title</button>
  </div>

  <p>Current Sort By: {{ sortBy }}</p>
  <cdk-virtual-scroll-viewport #scroller class="grid-container" [itemSize]="400" [minBufferPx]="800" [maxBufferPx]="1600">
    <div class="grid-item" *cdkVirtualFor="let photo of photos">
      <app-photo [image]="photo.thumbnailUrl" [photo]="photo" (details)="getDetails(photo)"></app-photo>
    </div>
  </cdk-virtual-scroll-viewport>
</body>
